<html>
<head>
  <title>Hello World in Angular.js</title>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="helloWorld.js"></script>
  <link rel="stylesheet" type="text/css" href="helloWorld.css">
</head>
<body ng-app="app">
  <div ng-controller="contactController">
    <div>  
      <strong>NEW CONTACT</strong>
      <br>
      Name: <input type="text" ng-model="name"/>
      Email: <input type="text" ng-model="email"/>
      Phone:  <input type="text" ng-model="phone"/>
      <input id="submitButton" type="submit" ng-click="add()"/>
    </div>
    
    <div id="addressBook">
      <h2><u>Address Book</u></h2>
      <ul ng-repeat="user in addressBook" by $index>
        <li class="userInfo" ng-model="user.name" by $index><strong>{{ user.name }}</strong></li>
        <li class="userInfo" ng-model="user.email" by $index>{{ user.email }}</li>
        <li class="userInfo" ng-model="user.phone" by $index>{{ user.phone }}</li>
        <li class="userInfo"><button class="edit" ng-click="edit(user)">Edit</button><button class="delete">Delete</button></li>
        
    </div>

    <div>
      <h2 class="checkArea">{{ name }}</h2>
      <h2 class="checkArea">{{ email }}</h2>
      <h2 class="checkArea">{{ phone }}</h2>
    </div>
    

  </div>

</body>
</html>